<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Datepicker</title>
	<link rel="stylesheet" href="./node_modules/angular-material/angular-material.min.css">
	<script src="./node_modules/angular/angular.min.js"></script>
	<script src="./node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="./node_modules/angular-aria/angular-aria.min.js"></script>
	<script src="./node_modules/angular-material/angular-material.min.js"></script>
	<script src="./node_modules/angular-messages/angular-messages.min.js"></script>
	<script src="./node_modules/moment/min/moment.min.js"></script>
</head>
<body ng-app="Datepicker">
	<div style="width: 450px;" ng-controller="Datepicker as ctrl">
		<mc-dates></mc-dates>
		<div layout-gt-xs="row">
			<md-input-container class="md-block" flex-gt-sm layout-margin>
				<label>From</label>
	            <input ng-model="dateFromIndicator" ng-change="ctrl.onTxtChanged()">
	        </md-input-container>
			<md-input-container class="md-block" flex-gt-sm layout-margin>
	        <label>To</label>
	            <input ng-model="dateToIndicator" ng-click="ctrl.onTxtChanged()">
	        </md-input-container>
		</div>
	</div>
	<script src="./app.js"></script>	
	<script src="./src/components/mcDates/mcDates.js"></script>	
</body>
</html>