<md-content ng-controller="mcDates as ctrl" layout-padding ng-cloak>
  <div layout-gt-xs="row" layout-align="center center">
    <div flex-gt-xs>
      <h4>с</h4>
      <md-datepicker ng-model="ctrl.dateFrom" md-placeholder="Enter date" ng-change="ctrl.onDateChanged()"></md-datepicker>
    </div>
	<div flex-gt-xs>
	    <h4>по</h4>
	    <md-datepicker ng-model="ctrl.dateTo" md-placeholder="Enter date" ng-change="ctrl.onDateChanged()"></md-datepicker>
	</div>
  </div>
  <div layout-gt-xs="row" class="md-caption" layout-margin style="cursor: pointer;">
    <div flex-gt-xs ng-click="ctrl.setInterval(-1)">Вчера</div>
    <div flex-gt-xs ng-click="ctrl.setInterval(1)">Сегодня</div>
    <div flex-gt-xs ng-click="ctrl.setInterval(-14)">2 недели</div>
    <div flex-gt-xs ng-click="ctrl.setInterval(-30)">Месяц</div>
    <div flex-gt-xs ng-click="ctrl.setInterval(0)">Все</div>
  </div>
</md-content>